/* line 64, daijia/*.png */
.daijia-sprite, .daijia-dlw1, .daijia-dlw2, .daijia-dlw3 {
  background-image: url('../../images/daijia-s81aa5e2bbe.png');
  background-repeat: no-repeat;
  background-size: 50%;
}

/* line 84, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.daijia-dlw1 {
  background-position: 0 0;
}

/* line 84, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.daijia-dlw2 {
  background-position: 0 -88px;
}

/* line 84, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.daijia-dlw3 {
  background-position: 0 -105px;
}
