<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Document</title>
	<link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" href="styles/vue/main.css">
</head>
<body>
<script type="text/x-template" id="device-template">
	<div class="{{env}} device-main" data-screen-height="{{deviceHeight}}">
        <div class="container" data-image="">
            <header></header>
            <div class="contain">
                <div class="body">
                	<item-image v-for="item in itemList"
                	:data="item"></item-image>
                </div>
            </div>
            <template v-if="needFooter">
			  <footer></footer>
			</template>
        </div>
        <div class="controller">
        </div>
    </div>
</script>
<script type="text/x-template" id="device-parent-template">
	<div class="device {{dpclass}}" data-screen="{{deviceWidth}}">
		<header>{{deviceTitle}}设备 </header>
		<device v-for="item1 in deviceEnv"
		:data="item1"
		:containData="containData"><device>
	</div>
</script>
<script type="text/x-template" id="item-image-template">
	<img v-bind:src="url"
	v-bind:style="style">
</script>
<script type="text/x-template" id="form-template">
	<template v-if="type == 'input'">
		<div class="c-input">
			<label for="{{id}}">{{title}}</label>
			<input type="text" id="{{id}}" name="{{name}}" placeholder="{{placeholder}}" class="{{classes}}" 
			v-model="value">
			<div id="{{id}}Btn" class="{{btnClasses}}" v-if="needBtn"
			v-on:click="updateChangeBtn">确认</div>
		</div>
	</template>
	<template v-if="type == 'select'">
		<div class="c-select">
			<label for="{{id}}">{{title}}</label>
		    <select name="{{name}}" id="{{id}}" class="{{classes}}" 
		    v-model="value"
		    v-on:change="updateChange">
		        <option v-bind:value="item.value" v-for="item in data.options">{{item.title}}</option>
		    </select>
		</div>
	</template>
	<template v-if="type == 'item-select'">
		<div class="i-select">
			<label for="{{id}}">{{title}}</label>
		    <select name="{{name}}" id="{{id}}" class="{{classes}}" 
		    v-model="value"
		    v-on:change="updateChange">
		        <option v-bind:value="item.value" v-for="item in data.options">{{item.title}}</option>
		    </select>
		    <div v-on:click="delItem">删除</div>
		</div>
	</template>
</script>


<div id="app">
	<style>
		.body{
			background-image:url("{{containData.bacUrl}}");
			background-size:{{containData.bacPos=="ya" ? "100% 100%" : "100%";}};
			background-position:{{containData.bacPos}};
			min-height:{{containData.pageMinHeight+"px"}};
		}
	</style>
	<section id="form">
		<form>
		    <input type="file" name="uploadBacFile" class="uploader" 
		    v-on:change="updateImg"/>
		    <input type="file" name="uploadItmFile" class="uploader" 
		    v-on:change="updateImg"/>
		    <my-forms v-for="item in formData"
		    :data="item"></my-forms>
		    <my-forms v-for="(index,item) in formItemData"
		    :data="item"
		    :cindex="index"></my-forms>
		</form>
	</section>
	<section id="mian-list">
		<devices-list v-for="item in allDevices"
		:data="item"
		:odata="containData"></devices-list>
	</section>
</div>
<script src="/bower_components/vue/dist/vue.js"></script>
<script src="scripts/main.js"></script>
</body>
</html>